<div class="animated fadeIn card">
        <div class="card-img" style="max-height: 250px; min-height:250px">
            <img style="max-height: 250px; min-width: 100%" src={{masterDetailGroupData.group?.displayPhoto}}>
        </div>
        <div class="card-block mce-scroll" style="padding: 0.55rem" data-spy="scroll">
            <div class="row m-0"> 
                <div class="col-sm-10">
                    <h2 class="justify-content-center" style="font-size: 2.1rem">{{masterDetailGroupData.group.name}}</h2>
                </div>
                <div class="col-sm-2 p-0">
                    <div class="btn btn-danger p-0" (click)="onUpdateClick()">
                        <i class="fa fa-wrench fa-2x"></i>
                        Edit
                    </div>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="card-text">
                        <b>Description: </b> &nbsp; &nbsp; &nbsp; {{masterDetailGroupData.group.description}}
                    </p>
                </li>
            </ul>
        </div>  
  
        <h2 class="text-center" style="font-size: 1.5rem">Members</h2>
        
        <!-- LIST -->
        <div class="card-block">
            <div class="list-group row m-0" *ngFor="let listItem of masterDetailGroupData._users; let j = index">
                <div class="row m-0">
                <div class="list-group-item-action flex-column align-items-start col-11"
                style="padding: 0.5rem"
                routerLinkActive="active" [routerLink]="['/users']"
                    (click)="onMasterDetailListItemClick(listItem)">
                        <div class="d-flex m-0 container">
                            <div class="row m-0">
                                <div class="img-avatar">
                                    <img src={{listItem.displayPhoto}} class="img-avatar" style="border-radius: 50%; min-height:70px; min-width:80px; max-height:70px; max-width:80px">
                                </div>
                                <h5>
                                    {{listItem.name}}
                                </h5>
                            </div>
                            <div class="align-text-bottom">
                                <p>{{listItem.bio}}</p>
                            </div>
                        </div>
                </div>
                <div class="col-1 list-group-item list-group-item-action flex-column align-items-start danger" (click)="onMasterDetailListDeleteClick(j)">
                        <i class="fa fa-trash-o fa-2x"></i>
                </div>
                </div>
            </div>
        </div>
      <div class="card-footer">
            Created Date: {{masterDetailGroupData.group.createdDate | date}}
      </div>
</div>
  

  <simple-modal-template [isOpen] = "showDeleteUserModal" [container]="deleteUserModalContainer" [size]="'lg'" (modalClickResult)="onModalClickResultDeleteUser($event)"></simple-modal-template>

  <simple-modal-template [isOpen] = "showDeleteAssociationModal" [container]="deleteAssociationModalContainer" [size]="'lg'" (modalClickResult)="onModalClickResultDeleteAssociation($event)"></simple-modal-template>

  <simple-modal-template [isOpen] = "showDeleteGroupModal" [container]="deleteGroupModalContainer" [size]="'lg'" (modalClickResult)="onModalClickResultDeleteGroup($event)"></simple-modal-template>