<div class="animated fadeIn card">
    <div *ngIf="!container">
        <span class="spinner">
        </span>
    </div>
    <div *ngIf="container">
        <div class="card-block mce-scroll" style="padding: 0.55rem" data-spy="scroll">
            <span class="row">
                <img class="img-avatar col-sm-2" src="container.image">
                <div class="col-sm-8">
                    <h6 class="display-4 justify-content-center">{{container.title}}</h6>  
                </div>
            </span>     
            <ul class="list-group list-group-flush">                
                <li class="list-group-item">        
                    <p class="card-text">
                        {{container.mainDescription}}      
                    </p>
                </li>
                <li class="list-group-item">        
                        <p class="card-text">
                            {{container.subDescription}}      
                        </p>
                    </li>
            </ul>

            <h2 class="display-6 text-center">{{container.listTitle}}</h2>
            <template-single-action-list [containers]="(container.list$ | async)"></template-single-action-list>
        </div>
        <div class="card-footer">
                {{container.footer}}
        </div>
    </div>
</div>